<div class="img-div card">
  <div class="tasks-container">

    <h1 class="potter-font">My Tasks</h1>

    <!-- tasks form-->
    <div class="form-container">
      <form #taskForm='ngForm' (ngSubmit)="createTask(taskForm); taskForm.reset();" class="tasks-form">
      <input type="text" name="task" ngModel required placeholder="Enter a new task">
      <input type="submit" [disabled]="!taskForm.valid" value="Add Task">
      </form>
    </div>


    <!--task container-->
    <div class="tasks-columns">

      <!--tasks todo column-->
      <div class="tasks-column">
        <!--The title needs to be inside the div otherwise you have 4 columns instead od 2-->
        <h2>To Do</h2>

        <div class="tasks-box">

          <!-- no tasks found -->
          <div *ngIf="todo.length === 0 || !todo" class="no-tasks">
            No tasks to do yet!
          </div>

          <!-- tasks card-->
          <div *ngFor="let item of todo" class="tasks-card">
            {{ item.text }}
          </div>
        </div>

      </div>

      <!-- tasks done column -->
      <div class="tasks-column">
        <h2>Done</h2>
        <div class="tasks-box">

          <!--no tasks found -->
          <div *ngIf="done.length === 0 || !done" class="no-tasks">
            No tasks done yet!

            <!-- tasks card -->
            <div *ngFor="let item of done" class="tasks-card">
              {{ item.text }}
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>

