.nav-link {
  font-size: 20px;
  padding-left: 40px;
  color: #fff;
  font-family: Open-Sauce, sans-serif;
}

button {
  background-color: #817c7a;
  margin-right: 10px;
}

.title {
  color: #fba33a;
  font-family: Potter-font;
  -webkit-text-stroke: 1px #94230B;
  font-size: 50px;
}

.dropdown {
  width: 40px;
}