<!--
 /**
 * Title: about.component.html
 * Author: Evelyn Zepeda
 * Date: 6/27/24
 * Description: The About HTML page for the application
 */-->

<div class="container">
  <div class="img-container flex-column col-sm">
    <img src="../../assets/magic-pot.jpg">
  </div>

  <div class="about-container col-sm">
    <div class="blue-pots-img">
      <img src="../../assets/blue-pots.jpg">
    </div>
    <div class="about-summary">
        <h1>About Us</h1>
        <p>Welcome to NodeBucket, your go-to solution for streamlining project management and enhancing productivity for startups and entrepreneurs. We understand the unique challenges faced by new businesses and are dedicated to providing an efficient, user-friendly platform to help you and your team succeed.</p>

        <p>NodeBucket is designed with simplicity and effectiveness in mind. Our intuitive task manager allows employees to seamlessly manage their projects through an organized, visual interface. Featuring two essential columns - To Do and Done - our task manager empowers your team to track progress effortlessly. Tasks can be easily deleted, reordered, and prioritized through a convenient drag-and-drop functionality, ensuring that your workflow remains smooth and adaptable.</p>

        <p>We believe that effective task management is crucial to the success of any startup. By offering a clear and straightforward tool, NodeBucket helps reduce the complexity of project oversight, allowing you and your team to focus on what truly matters - innovation and growth. Whether you're a small team just getting started or an expanding business with growing project demands, NodeBucket is here to support your journey.</p>

        <p class="last-p">At NodeBucket, our mission is to foster a collaborative and productive environment for entrepreneurs and their employees. We are committed to continuous improvement and innovation, constantly seeking feedback from our users to enhance our platform and better serve your needs. Join NodeBucket today and experience a new level of efficiency and organization in your projects. Together, let's turn your entrepreneurial dreams into reality.</p>
    </div>
  </div>
</div>