<div class="container">
  <img class="container hall" src="../../assets/indoor-hall.jpg">

  <div class="map-container">
    <h1>Contact Us</h1>
    <div class="img-container">
      <img class="col-sm map" src='https://maps.googleapis.com/maps/api/staticmap?center=41.15130764811391, -95.91799307010126&zoom=14&size=400x400&key=AIzaSyBiH-OudKplzCBN2jhPfkIWOnsdVbFEIAw'>
    </div>


    <div class="contact-info d-flex">
      <div class="address flex-column">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
        </svg>

        <h4>1000 Galvin Rd S Bellevue, NE 68005</h4>

      </div>
      <div class="telephone flex-column">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"        fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
        <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
        <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
        </svg>

        <h4>1.800.756.7920</h4>

      </div>
      <div class="email flex-column">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
        </svg>

        <h4>BRUINSupportServices@bellevue.edu</h4>

      </div>


    </div>
  </div>
</div>