.box {
  background-color: black;
}

img {
  width: 50%;
  height: auto;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fba33a;
  font-size: 300px;
  font-family: Potter-font, serif;
  text-shadow: 12px 12px 15px #511817;
}

.card {
  background-color: #94230B;
  float: right;
  width: 100%;
  height: 100%;
  padding: 0;
}

.card-body {
  width: 50%;
  margin: 0 auto;
  margin-top: 30%;
}

.form-label {
  color: #fff;
  font-size: 100px;
  font-family: Open-Sauce, sans-serif;
  margin: 20px 0 40px 0;
}

.form-control {
  height: 200px;
}

input {
  font-size: 100px;
}

.alert {
  color: #fba33a;
  width: 100%;
  height: 200px;
  font-size: 100px;
  background-color: #511817;
  border: 0;
}

.remove-padding {
  padding: 0;
}

button {
  background-color: #511817;
  color: #fff;
  font-size: 100px;
  height: 300px;
  font-family: Open-Sauce, sans-serif;
}