.box {
  background-color: #511817;
}

h1 {
  color: #fba33a;
  font-size: 100px;
  font-family: Potter-font, serif;
  text-shadow: 12px 12px 15px #511817;
}


.sign-in {
  background-color: #94230B;
  padding: 100px;
}



.form-label {
  color: #fff;
  font-size: 30px;
  font-family: Open-Sauce, sans-serif;
}

.form-control {
  height: 50px;
}

input {
  font-size: 20px;
}

.alert {
  color: #fba33a;
  font-size: 20px;
  background-color: black;
  width: auto;
}

.remove-padding {
  padding: 0;
}

button {
  background-color: #511817;
  color: #fff;
  font-size: 20px;
  font-family: Open-Sauce, sans-serif;

}

