/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Potter-font;
  src: url('./assets/HARRYP__.TTF');
}

@font-face {
  font-family: Open-Sauce;
  src: url('./assets/open-sauce.sans-regular.ttf');
}