<!--
  Title: home.component.html
  Author: Evelyn Zepeda
  Date: 6/9/24
  Description: The home component.-->

<div class="container-fluid p-0 main">

    <div class="card">
      <img class="img-fluid max-width: 100%; height: auto;" src="../../assets/hogwarts-letter.jpg">

      <div class="button-background">
      <div class="welcome">
        <h1>Welcome to Nodebucket</h1>

        <h2>Master Your Tasks, Elevate Your Day!</h2>

        <button class="button-container" type="submit" routerLink="/security/signin">Sign In</button>
    </div>
    </div>
      <img class="img-fluid max-width: 100%; height: auto;" src="../../assets/goblet.jpg">
  </div>
</div>

