<!--
  Title: home.component.html
  Author: Evelyn Zepeda
  Date: 6/9/24
  Description: The home component.-->

<div class="container p-0 main col-12 col-md background">

    <div class="card col-sm background">
      <img class="img-fluid max-width: 100%; height: auto;" src="../../assets/hogwarts-letter.jpg">

      <div class="button-background container">
        <div class=" col-sm card welcome">
          <h1>Welcome to Nodebucket</h1>

          <h2>Master Your Tasks, Elevate Your Day!</h2>
          <div class="button-container">
            <button type="submit" routerLink="/security/signin">Sign In</button>
          </div>

        </div>
    </div>
      <img class="img-fluid max-width: 100%; height: auto;" src="../../assets/goblet.jpg">
  </div>
</div>

